{
  "presets": [
    "env",
    "react-app"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "theme"
      }
    ],
    [
      "import",
      {
        "libraryName": "antd"
      }
    ]
  ]
}